<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tailwind CSS Example</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@latest/dist/tailwind.min.css" rel="stylesheet">
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Rubik+80s+Fade&display=swap');

      .rubiks {
        font-family: "Rubik 80s Fade", system-ui;
        font-weight: 400;
        font-style: normal;
      }

      .colour-6 {
        color: #7583de
      }
      .colour-5 {
        color: #8996e3
      }
      .colour-4 {
        color: #9ea8e8
      }
      .colour-3 {
        color: #b3baed
      }
      .colour-2 {
        color: #c7cdf2
      }


    </style>
</head>
<body class="p-8 flex items-center justify-center">
  <div style="width: 700px; height: 400px;" class="border border-gray-50 p-4 flex flex-col items-center">
    <div class="rubiks flex flex-col items-center">
      <h1 class="text-2xl colour-5">Here's 15% off!</h1>
      <h1 class="text-2xl colour-3">Coupon: OrchidWelcome15</h1>
    </div>
    <p>adsfasfd</p>
  </div>

</body>
</html>
